*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: cyan;
}

@media only screen and (max-width:600px){
    [class*="col-"]{
        width: 100%;
    }
}

@media only screen and (min-width:601px){
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

.row{
    width: 100%;
    overflow: hidden;
}

[class*="col-"]{
    float: left;
}

header{
    position: relative;
    top: 0;
    background-color: cyan;
    height: 28px;
    font-weight: bolder;
    text-align: center;
    padding-top: 5px;
}

nav ul{
    text-decoration: none;
}

nav ul li{
    border: 1px turquoise solid;
    background-color: rgb(6, 177, 177);
    padding: 5px 0 5px 8px;
}

aside{
    background-color: rgb(6, 177, 177);
    /* background-blend-mode: */
}

aside p{
    padding: 5px 0 10px 8px;
}

section p{
    padding-bottom: 10px;
    font-weight: bolder;
}

section{
    padding-left: 8px;
}

footer{
    font-weight: bolder;
    text-align: center;
    background-color: cyan;
    height: 28px;
    padding-top: 5px;
}