/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body{
    margin: 2% 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/work_desk2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
}

.row {
    width: 100%;
    overflow: hidden;
}


/* RESPONSIVE */
@media only screen and (max-width:600px){
    [class*="col-"]{
        width: 100%;
    }
    #menu ul{
        flex-wrap: wrap;
    }
    #wellcome{
        left: 70% !important;
    }
    #username{
        width: 90% !important;
    }
}

@media only screen and (min-width:601px){
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


/* HEADER */
header{
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    text-shadow:1px 1px rgb(43, 40, 40);
}

h1 span{
    color: white;
    background-color: #bc6c25 ;
    padding: 0 7px;
    text-shadow: none;
}

h3{
    letter-spacing: 2px;
    color: #bc6c25;
}

/* CHATROOMS */
#menu ul{
    display: flex;
    background-color: white;
    border-radius: 12px;
    padding: 5px;
}

#menu ul li{
    list-style-type: none;
    text-align: center;
    border-radius: 12px;
    background-color: #606c38;
    padding: 5px 0;
    margin: 1%;
    border: whitesmoke 1px groove;
    color: white;
    text-shadow: 2px 2px #283618;
}

#menu ul li:hover{
    border: none;
    background-color: #515837;
}


/* SEKCIJA ZA SLANJE PORUKA */
#background{
    background-color: rgba(177, 174, 174, 0.692);
    border-radius: 5px;
    padding: 0 2% 2%;
    height: 70%;
    margin: 2% 0;
    border-radius: 10px;
}

#comands{
    display: flex;
    flex-wrap: wrap;
}

#choose{
    width: fit-content;
    padding: 5px;
}

#formColor{
    justify-content: left;
}

#color{
    width: 30%;
}


/* PORUKE POSTAVKA */
section{
    height: 80%;
    border-radius: 10px;
    background-color: #e3decbd3;
}

#messages {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    scroll-behavior: smooth;
    padding: 1%;
    overflow: scroll;
    overflow-x: hidden;
}

/* SCROLLBAR */
#messages::-webkit-scrollbar{
    width: 17px;
}

#messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(109, 108, 108);
    border-radius: 10px;
  }

#messages::-webkit-scrollbar-thumb{
    background-color: #8fac71;
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background: #6f794e; 
}

/* PORUKE */
#messages li{
    background-color:#8fac71;
    color: #283618;
    border-radius: 0 12px 12px 12px;
    padding: 8px 18px 18px 8px;
    list-style-type: none;
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    margin: 5px;
    box-shadow: 3px 3px 5px #283618;
    position: relative;
}

#messages li:nth-child(3n){
    background-color: white;
    border-radius: 12px 12px 0 12px;
    align-self: flex-end;
}

#messages li .time_stamp{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #6f794e;
}

#messages li span{
    font-weight: bold;
    font-size: 14px;
}

.bin{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 8px;
    bottom: 10px;
}


/* FORME = INPUTI */
form{
    display: flex;
    padding: 7px;
    justify-content: right;
}

input, #message{
    height: 30px;
    border-radius: 5px;
    border: #283618 1px solid;
    color: #283618;
    margin: 2px;
}

#username, #message{
    width: 95%;
    background-color: white;
    padding: 1%;
    cursor: text;
    font-size: 15px;
}

input[type="submit"]{
    background-color: #DDA15E;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    box-shadow: 2px 4px rgb(124, 124, 124);
    font-size: 18px;
}

input[type="submit"]:active{
    background-color: #df8b42;
    box-shadow: 1px 2px #666;
    transform: translateY(2px);
}

#formUpdate{
    justify-content: right;
}

#formSend{
    margin: 1% 0;
}

#username{
    width: fit-content;
}

/* WELLCOMING MESSAGE */
#wellcome{
    background-color: white;
    padding: 15px;
    width: fit-content;
    border-radius: 15px 15px 15px 0;
    transform: translateY(-55px);
    position: absolute;
    left: 78%;
    font-weight: bold;
    box-shadow: 3px 3px 5px #362918;
}