/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 2% 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/work_desk2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
}

.row {
    width: 100%;
    overflow: hidden;
}


/* RESPONSIVE */
@media only screen and (max-width:600px){
    [class*="col-"]{
        width: 100%;
    }
    #menu ul{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:601px){
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


/* HEADER */
header{
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    text-shadow:1px 1px rgb(43, 40, 40);
}

h1 span{
    color: white;
    background-color: #bc6c25 ;
    padding: 0 7px;
    text-shadow: none;
}

h3{
    letter-spacing: 2px;
    color: #bc6c25;
}

/* CHATROOMS */
#menu ul{
    display: flex;
    background-color: white;
    border-radius: 12px;
    padding: 5px;
}

#menu ul li{
    list-style-type: none;
    text-align: center;
    border-radius: 12px;
    background-color: #606c38;
    padding: 5px 0;
    margin: 1%;
    border: white 5px double;
}

#menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #283618;
}


/* FORME = INPUTI */
form{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
}

input{
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: #283618 1px solid;
    color: #283618;
    margin: 2px;
}

input[type="text"]{
    width: 70%;
}

input[type="submit"]{
    background-color: #DDA15E;
    width: 100px;
    cursor: pointer;
    box-shadow: 2px 4px rgb(124, 124, 124);
}

input[type="submit"]:hover{
    background-color: #df8b42;
}

input[type="submit"]:active{
    background-color: #df8b42;
    box-shadow: 1px 2px #666;
    transform: translateY(2px);
}


/* PORUKE */
section{
    height: 55%;
    margin: 2% 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.692);
}

section ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    overflow: scroll;
    overflow-x: hidden;
}

section ul li{
    background-color:#8fac71;
    color: #283618;
    border-radius: 0 12px 12px 12px;
    padding: 12px;
    list-style-type: none;
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    margin: 1%;
    box-shadow: 2px 2px 7px #283618;
}

section ul li .time_stamp{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #6f794e;
}

section ul li span{
    font-weight: bold;
    font-size: 14px;
}