.bez_margina{
    margin: 1px;
}

img{
    width: 300px;
    height: 200px;
}

section {
    display: flex;    
}

span{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    text-align: center;
}

div{
    margin-left: 10px;
    margin-right: 70px;
}